.App {
  text-align: center;
}

body{
  background-color: #FAF3DD
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.container{
  display: flex;
/* margin:auto; */
justify-content: center;
flex-flow: row wrap;
margin: 25px;
}

.powers{
  justify-content: center;
  align-items: center;
  display: flex;
  width: 100px;
  height: 100px;
  margin:5px;
  background-color: darkseagreen;
  
  /* float: left; */
}

.boxShadow{
  border-radius: 4%;
  box-shadow: 2px 3px #282c3457;
}
.boxShadow:hover{
  border-radius: 4%;
  box-shadow: 3px 4px #282c3457;
}

.powers:hover{
  background-color: rgb(130, 172, 130);

}

.flexConatiner{

  
}

.footer{
  bottom: 10px;
    display: flex;
    position: absolute;
    margin: 15px;
}

.button{
  background-color: darkseagreen;
  /* background-color:  #c8d5b9; */
border: unset;
padding: 15px;
border-radius: 5%;
}
/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
